@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
}

.icon {
  width: 25px;
  justify-self: center;
}

.sidebar .icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(246deg) brightness(105%) contrast(100%);
}

.sidebar {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background-color: rgb(34, 132, 218);
  color: white;
  padding: 0px 12px 20px 12px;
  display: grid;
  gap: 50px;
  height: 100vh;
}

.logo, .side-content {
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
  font-weight: bold;
}

.logo {
  margin-bottom: -30px;
  font-size: 1.5em;
  display: grid;
  gap: 10px;
}

.logo .icon {
  width: 50px;
}

.menu {
  font-size: 1.3em;
  display: grid;
  gap: 20px;
}

.header {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 2.4fr minmax(300px, 1fr);
  padding: 10px 50px 10px 12px;
  height: fit-content;
  width: auto;
  box-shadow: 0 7px 2px -2px lightgray;
  margin: 0;
}

.header .icon {
  width: 25px;
  cursor: pointer;
}

    /* header .search section */

.search {
  display: grid;
  grid-template-columns: 50px auto;
  align-content: center;
  padding: 0px 65px 0px 20px;
}

.search input {
  border-radius: 20px;
  background-color: rgb(226, 234, 246);
  border: none;
  padding: 6px 8px;
  font-size: 12px;
}

.search input:focus {
  outline: none;
  border: 1px solid rgb(34, 132, 218);
}

    /* header .user-info section */

.user-info {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr;
  align-items: center;
  justify-items: center;
  padding: 5px 0px 5px 30px;
}

.user-info img {
  width: 45px;
  border-radius: 100%;
}

.user-info .username {
  font-weight: bold;
  font-size: 1.1em;
}

  /* header .greeting section */

.greeting {
  display: grid;
  grid-template-columns: 1fr 2fr;
  width: fit-content;
  padding: 10px 0px;
  justify-items: center;
  align-items: center;
}

.greeting div {
  display: grid;
  height: fit-content;
  gap: 5px;
  font-weight: bold;
  font-size: 12px;
}

.greeting h3 {
  font-size: 1.5rem;
}

.greeting img {
  width: 70px;
  border-radius: 100%;
  margin: 0px -30px;
}

    /* header .buttons section */
.buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 17px;
  align-items: center;
  margin-left: -30px;
}

.buttons button {
  padding: 10px 5px;
  border-radius: 50px;
  font-weight:bolder;
  color: white;
  background-color: rgb(34, 132, 218);
  border: none;
  font-size: 16px;
  cursor: pointer;
}

.main-content {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

